
button{
    height: 50px;
    border-radius: 35px;
    color: white;
    text-align: center;
    background-color: rgb(26, 155, 230);
    border: 0.1px;
    font-size: 17px;
}
#bt{
    width: 200px;
    margin-top: 80px;
    margin-bottom: 20px;
}
input{
    height: 50px;
    border-radius: 35px;
    color: black;
    text-align: center;
    background-color: rgb(235, 235, 235);
    border: 0.1px;
    font-size: 17px;
}